.cart{
    text-align: center;
    width: 80%;
    height: 400px;
    background-color: aliceblue;
    margin-left: 30px;
    border-radius: 10px;
    margin-top: 30px;
    position: sticky;
    top: 40px;
}