.shop-container{
    display: grid;
    grid-template-columns: 4fr 2fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin: 30px 0 30px 30px;
}
.cart{
    text-align: center;
    width: 80%;
    height: 400px;
    background-color: aliceblue;
    margin-left: 30px;
    border-radius: 10px;
    margin-top: 30px;
    position: sticky;
    top: 40px;
}


@media screen and (max-width:688px){
    .shop-container{
        grid-template-columns: 2fr 2fr;
    }
    .product-container{
        grid-template-columns: repeat(1,1fr);
        margin-right: 5px;
    }
}
