.product{
    background-color: #F4F6F7;
    padding-top: 30px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px gray;
    position: relative;
}
.product img{
    padding-left: 20%;
}
.product h3,h4{
    padding-left: 10%;
}
.product button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius:0 0 10px 10px;
    position: absolute;
    bottom: 0;
}
.product button:hover{
    background-image: linear-gradient(crimson,brown);
    color: white;
}